<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</head>
<body>
  <div class="container" style="margin:50px">
    
    <h3>Erro no Login</h3>
    <br />

    <div class="alert alert-danger" role="alert">
        As credenciais informadas não foram encontradas na base de dados.
    </div>  
    
    Informe suas credenciais novamente clicando  <a href="/" class="alert-link">aqui</a>. 
  </div>
</body>
</html>