<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</head>
<body>
  <div class="container" style="margin:50px">
    <div class="form-group">
      Volte para a home clicando  <a href="/home" class="alert-link">aqui</a>. 
    </div>
    
    <h3>Lista de Perfis</h3>
    <br />
    @if(users.length != 0)
        <ul class="list-group">
            @each(user in users)
                <a href="/users/show/{{ user.id }}"><li class="list-group-item">{{ user.name }}</li></a>
            @endeach
            
        </ul>
    @endif

     
  </div>
</body>
</html>