<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</head>
<body>
  <div class="container" style="margin:50px">

    <h3>Cadastre-se</h3>
    <br />

    <form action="{{route('user.signup')}}" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="name">Nome completo *</label>
            <input type="text" class="form-control" required="true" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="nick">Nick *</label>
            <input type="text" class="form-control" required="true" id="nick" name="nick">
        </div>
        <div class="form-group">
            <label for="email">Email *</label>
             <input type="email" class="form-control" required="true" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="password">Senha *</label>
            <input type="password" class="form-control" required="true" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="file">Foto *</label>
            <input type="file" class="form-control-file" required="true" id="file" name="file">
        </div>
       
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br />
        Volte para a página login clicando  <a href="/" class="alert-link">aqui</a>. 
  </div>
</body>
</html>