<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Twitter Computação em Nuvem</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</head>
<body>
  <div class="container" style="margin-top:20px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Twitter</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/show-my-profile">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sair</a>
          </li> 
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{route('user.find.nick')}}" method="get">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar por usuário" required="true" aria-label="Pesquisar" name="nick">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>
    <button style="margin:10px" type="button" class="btn btn btn-info" 
          onclick="window.location.href = '/post-twitter'">Nova publicação</button>

      <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          Pesquisar por data
        </h2>
      </div>
      <div class="accordion" id="accordionExample">
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="{{route('publication.show.period')}}" method="get">
                  <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                      <label class="sr-only" for="dt_start">Name</label>
                      <input type="text" class="form-control" required="true" 
                                id="dt_start" placeholder="Data inicial" name="dt_start">
                    </div>
                    <div class="col-sm-3 my-1">
                      <label class="sr-only" for="dt_end">Name</label>
                      <input type="text" class="form-control" required="true" 
                                id="dt_end" placeholder="Data final" name="dt_end">
                    </div>
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                    <button type="button" onclick="window.location.href = '/home'"
                                                     class="btn btn-link">Limpar filtro</button>
                </form>
              </div> 
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              Publicações
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              @if(publications.length != 0)
                <div class="row">
                  @each(pub in publications)
                    <div class="card" style="margin-top:10px; margin-left:5px;height: 350px;width: 300px">
                      <div class="card-body">
                        <div class="form-group row">
                          <img src="{{ pub.user.photo.url }}" class="img-fluid" height="30" width="30">
                          <p class="card-title" style="margin-left:10px"><a href="/users/show/{{pub.user.id}}">{{ pub.user.nick }}</a></p>
                          <p class="form-control-sm">Publicado em {{ pub.created_at }}</p>
                        </div>
                        <h5 class="card-title">{{ pub.description }}</h5>
                        @if(pub.photo_id != null)
                          <img src="{{ pub.photo.url }}" class="card-img-top" width="320" height="180">
                        @endif
                      </div>
                    </div>
                  @endeach
                </div>
              @endif
            </div>
          </div>
        </div>  
      </div>
  </div>
</body>
</html>
